rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    function isStaff() {
      return request.auth != null
        && firestore.get(/databases/(default)/documents/users/$(request.auth.uid)).data.role in ['admin', 'worker'];
    }

    function isImage() {
      return request.resource.contentType.matches('image/.*');
    }

    match /pets/{fileName} {
      allow read: if true;
      allow create, update: if isStaff() && isImage();
    }

    match /users/{userId}/profile.jpg {
      allow read: if request.auth != null && (request.auth.uid == userId || isStaff());
      allow create, update: if request.auth != null
        && request.auth.uid == userId && isImage();
    }
  }
}
